EXPO_PUBLIC_API_URL=https://api.mindraft.com/v1
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=...
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=...
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=...   # cần cho desktop web

EXPO_PUBLIC_API_URL=192.168.x.x # Nhập đúng địa chỉ IP LAN của máy tính cá nhân