EXPO_PUBLIC_API_URL=https://api.mindraft.com/v1
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=...
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=...
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=...   # cần cho desktop web

EXPO_PUBLIC_API_URL=http://192.168.12.79:8000/api # Nhập đúng địa chỉ IPv4 LAN WIFI của máy tính cá nhân