SECRET_KEY=your-secret-key

EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

GOOGLE_CLIENT_ID=your_client_id_here

DB_NAME=note_app
DB_USER=root
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=3306