[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
pymysql = "*"
python-decouple = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
google-auth = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.14"